

<!-- block_shop_total/cart_total -->
<a name="total"></a>
<div id="shop-ordertotals">
    {{{ordertotals}}}
</div>

<h3>{{#str}}order, block_shop_total{{/str}}</h3>

<div id="order-detail">
    {{{orderdetail}}}
</div>

{{#isshopview}}
<p align="center">
<center>
<form name="driverform" action="{{{shopurl}}}">
<input type="hidden" name="view" value="shop" />
<input type="hidden" name="shopid" value="{{shopid}}" />
<input type="hidden" name="blockid" value="{{blockid}}" />
<input type="hidden" name="what" value="navigate" />
<input type="submit" id="next-button" title="{{overtext}}" name="go" value="{{#str}}next, block_shop_total{{/str}}"
    onclick="check_empty_order()" {{{nextdisabled}}} style="{{{nextstyle}}}" />
<input type="button" name="clearall" value="{{#str}}reset, block_shop_total{{/str}}" onclick="this.form.what.value=\'clearall\';this.form.submit();" />
</form>
</center>
</p>
{{/isshopview}}
<!-- /block_shop_total/cart_total -->